#logo {
    font-family: 'Comfortaa', cursive;
    font-size: 2rem;
}
h1 {
    margin-bottom: 0.5rem;
}

h2 {
    margin-bottom: 0.7rem;
    font-size: 1.3rem;
}

h4 {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

p {
    margin-bottom: 0.5rem;
}