@import '../fonts/fonts.scss';
@import './variables';
@import './typography';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: $grey-1;
    color: $white;
}

a {
    text-decoration: none;
    color: $white;
    cursor: pointer;
}

select {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: $grey-2;
}

button {
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    &:focus {
        outline: none;
    }
}

div[role="button"]{
    &:focus {
        outline: none;
    }
}

ul {
    list-style: none;
}

input[type="text"]{
    line-height: 1.3rem;
    padding: 0.2rem 1rem 0.2rem 0.4rem;
    border: 1px solid #c2c2c2;
    border-radius: 0.2rem;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

    &:focus {
        outline: none;
    }
}