.dropdown {
    position: absolute;
    z-index: 2;
    background-color: #353535;
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 2rem 2rem 1rem 0;
    width: 30rem;
    transition: all 0.3s ease-in-out;
    left: -10%;
    box-shadow: 0 2px 4px rgba(37,37,37,0.8);
    place-items: stretch;

    p {
        transition: all 0.3s ease;
        cursor: pointer;
        position: relative;
        &:hover {
            background-color: #252525;
        }

        &::after {
            content: "";
            border-bottom: 1px solid rgba(37,37,37,0.8);
            width: 60%;
            position: absolute;
            bottom: 0;
            left: 20%;
        }
    }

    @media (max-width: 500px){
        width: 10rem;
        grid-template-columns: 1fr;
        padding: 1.5rem 0;
    }
}